#new_collection_wrap
  %h2 New collection
  = simple_form_for(@collection) do |f|
    %h3#collection_title Collection Name
    = f.text_field(:title, as: :string, autofocus: "true", maxlength: 100)
    #create_button
      = submit_tag("Create collection")
