.collections {
  margin: 200px auto;
  background: rgba(0, 0, 0, 0.1);
  width: 50%;
  padding: 2em;
  border-radius: 3em;
  color: white;
  a {
    color: gray;
    text-decoration: none;
    // float: right;
    margin: 0 10px;
  }
}
